<section class="login_part padding_top">
    <div class="container mt-5 pl-5">
        <div class="row align-items-center">

            <div class="col-lg-6 col-md-6 m-auto">
                <div class="login_part_form">
                    <div class="login_part_form_iner">

                        <form class="row contact_form" action="/signup" method="POST">
                            <div class="col-md-12 form-group p_star">
                                <input required='required' type="name" class="form-control" id="name" name="Name"
                                    value="" placeholder="Name">
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input required='required' type="email" class="form-control" id="name" name="Email"
                                    value="" placeholder="Email">
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input required='required' type="password" class="form-control" id="password"
                                    name="Password" value="" placeholder="Password">
                            </div>
                            <div class="col-md-12 form-group">

                                <a href="/login">Already hava an account</a>
                                <button type="submit" value="submit" class=" btn btn-success float-right">
                                    Signup
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>